<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Costa</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>waze</string>
    <string>googlechromes</string>
    <string>comgooglemaps</string>
  </array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb285866770341023</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>fb285866770341023</string>
	<key>FacebookClientToken</key>
	<string>87225462de2c2fa30c83edf6e16db291</string>
	<key>FacebookDisplayName</key>
	<string>Costa Coffee</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need acces to your location so we can find the closest shops</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need acces to your location so we can find the closest shops</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>For analytics</string>
	<key>UIAppFonts</key>
	<array>
		<string>BrandonGrotesque-Bold.otf</string>
		<string>BrandonGrotesque-Medium.otf</string>
		<string>BrandonGrotesque-Regular.otf</string>
		<string>ManusTrial.ttf</string>
		<string>CostaText-Bold.ttf</string>
		<string>CostaText-Regular.ttf</string>
		<string>CostaText-Light.ttf</string>
		<string>CostaDisplayWave-Bold.ttf</string>
		<string>CostaDisplayWave-Light.ttf</string>
		<string>CostaDisplayWave-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
